<!DOCTYPE html>
<html
        xmlns:th="www.thymeleaf.org"
        xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate=~{layout/layout}
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" align="center">
<h3>학생 목록</h3>
<table class="table table-striped-columns">
    <thead >
    <tr>
        <th>학년</th>
        <th>반</th>
        <th>번호</th>
        <th>이름</th>
        <th>국어</th>
        <th>수학</th>
        <th>영어</th>
        <th>역사</th>
        <th>합계</th>
        <th>평균</th>
        <th>석차</th>
    </tr>
    </thead>
    <tbody th:each=" dto : ${dto}">
<!--    private int kor;-->
<!--    private int math;-->
<!--    private int eng;-->
<!--    private int hist;-->
    <tr>
        <td th:text="${#strings.substring(dto.student_id,0,1)}">학년</td>
        <td th:text="${#strings.substring(dto.student_id,1,3)}">반</td>
        <td th:text="${#strings.substring(dto.student_id,3,5)}">반</td>
        <td th:text="${dto.name}">이름</td>
        <td th:text="${dto.kor}">국어</td>
        <td th:text="${dto.math}">수학</td>
        <td th:text="${dto.eng}">영어</td>
        <td th:text="${dto.hist}">역사</td>
        <td th:text="${dto.total}">합계</td>
        <th th:text="${dto.avg}">평균</th>
        <th th:text="${dto.rank}">석차</th>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>